.maincalendario {
  @include flex-colum;
  @include jicenter-aicenter;
}

.calendario {
  @include flex-row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}

.carrera {
  @include flex-colum;
  @include jicenter-aicenter;
  margin-bottom: 5px;
  h2:hover {color: gray;};
    img {
      width: 300px;
      height: 150px;
      padding: 10px;
      border-top: 3px solid orangered;
    }
    img:hover{
      padding: 0px ;
    }
}

/* Mediaqueris version mobile*/

@media (max-width: 480px) {
  .calendario {
    flex-direction: column;
    align-items: center;
  }
  .carrera {
    width: 100%;
  }
}


