.tienda {
    @include flex-colum;
    justify-content: space-between;
    margin-top: 10px;
  }

.productostienda {
  @include flex-row;
  justify-content: space-between;
  margin-top: 10px;
  column-gap: 2px;
}
   .card {
    width: 16rem;
    height: 28rem;
    border-radius: 10px;
   }
   .fototienda {
    width:14rem;
    height: 140rem;
    }

  /* Mediaqueris version mobile*/

  @media (max-width: 480px) {
    .productostienda {
      @include flex-colum;
     }
     .card {
      width: 100%;
      @include flex-row;
      height: 18rem;    
     }
      .fototienda {
      width:14rem;
      height: 14rem;
      }
  }